<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta name="robots" content="noindex,nofollow" />
  
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="search" href="http://primary-secundary-clil-units.wikispaces.com/space/opensearch" type="application/opensearchdescription+xml" title="Búsqueda de Wikispaces (PRIMARY &amp; SECUNDARY CLIL UNITS Wiki)" />
<link rel="alternate" title="PRIMARY &amp; SECUNDARY CLIL UNITS - All Changes" href="xmla-v=rss_2_0.rss" type="application/rss+xml" />
<style type="text/css">

.messageSummary, .messageBody .wiki {
  cursor: pointer;
}

.ws-day-panel {
  border: none !important;
  box-shadow: none !important;
}

.ws-day-panel .panel-heading {
  border-radius: 0 !important;
  border-width: 1px !important;
  border-style: solid !important;
  cursor: pointer !important;
}

</style>
<script type="text/javascript">
  
if (typeof ws === 'undefined') ws = {};
ws.context = {
  instance: {
    id: '1',
    url: 'wikispaces.com',
    isMain: true,
    supportsGoogleDocs: false,
    isTesClassroom: false,
  },
  user: {
    id: '',
    username: '',
    status: '',
    locale: 'es_ES',
    imageUrlPrefix: 'http://c1.wikicdn.com/i/user_none_',
    isTeacher: false,
    canAdministerWiki: false,
  },
  wiki: {
    id: '3127667',
    name: 'primary-secundary-clil-units',
    text: 'PRIMARY & SECUNDARY CLIL UNITS',
    module: 'B',
    isClassroom: false,
    isTesClassroom: false
    ,defaultSpaceId: 3127667
    ,isWwwWiki: false
  },
  project: {
    id: '3127667',
    name: ''
  },
  space: {
    id: '3127667',
    name: 'primary-secundary-clil-units',
    isDefaultSpace: true,
    isDefaultTemplate: false
  },

  environment_name: 'prod',

  path: {
    object: 'wiki',
    method: 'changes',
    page: '',
    id: ''
  },

  settings: {
    main_domain: 'wikispaces.com',
    session_url: 'https://session.wikispaces.com/1/',
    asset_url_prefix: 'http://c1.wikicdn.com',
    beta_features: false,
    isMobileSite: false,
    isUploadCapable: true,
    can_discuss: false,
    has_gdocs: false,
    isDialog: false,
    pwin: ''
  },
  clockSkewMillis: 1525271760562 - ((window.performance && window.performance.timing.responseStart > 0) ? window.performance.timing.responseStart : (new Date()).getTime())
}


// legacy javascript API variables, use the above instead
var wikispaces_isUserLoggedIn = !!ws.context.user.id;
var wikispaces_isMain = ws.context.instance.isMain;
var wikispaces_username = ws.context.user.username;
var wikispaces_spaceName = ws.context.space.name;
var wikispaces_projectName = ws.context.project.name;
var wikispaces_wikiName = ws.context.wiki.name;
var wikispaces_wikiText = ws.context.wiki.text;
var wikispaces_isDefaultSpace = ws.context.space.isDefaultSpace;
var wikispaces_method = ws.context.path.method;
var wikispaces_object = ws.context.path.object;
var wikispaces_page = ws.context.path.page;
var wikispaces_id = ws.context.path.id;
var wikispaces_domain = ws.context.instance.url;
var wikispaces_isUserOrganizer = false;
var wikispaces_main_domain = ws.context.settings.asset_url_prefix;
var wikispaces_asset_url_prefix = ws.context.settings.asset_url_prefix;
var wikispaces_beta_features = ws.context.settings.beta_features;
var wikispaces_isMobileSite = ws.context.settings.isMobileSite;
var wikispaces_isUploadCapable = ws.context.settings.isUploadCapable;
var wikispaces_can_discuss = ws.context.settings.can_discuss;
var wikispaces_has_gdocs = ws.context.settings.has_gdocs;

</script><title>PRIMARY &amp; SECUNDARY CLIL UNITS - Changes</title>
<meta charset="utf-8" />
<link rel="apple-touch-icon" sizes="144x144" href="http://c1.wikicdn.com/_/z6371z4x/i/logo-144.png" />
<link rel="apple-touch-icon" sizes="114x114" href="http://c1.wikicdn.com/_/j5j77xz3/i/logo-114.png" />
<link rel="apple-touch-icon" sizes="72x72" href="http://c1.wikicdn.com/_/vq8j5432/i/logo-72.png" />
<link rel="apple-touch-icon" href="http://c1.wikicdn.com/_/38515190/i/logo-57.png" />
<link rel="shortcut icon" href="http://c1.wikicdn.com/_/55v9k02z/i/logo-16.png" />
<style type="text/css">
/* Standard theme styles */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
.ws-theme-header-inner,
.ws-theme-body-inner,
.ws-theme-footer-inner,
.ws-theme-content-inner,
.ws-theme-sidebar-inner {
  position: relative;
}
.ws-theme-header-inner:after,
.ws-theme-body-inner:after,
.ws-theme-footer-inner:after,
.ws-theme-content-inner:after,
.ws-theme-sidebar-inner:after,
.ws-theme-menu-inner:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.ws-theme-content, .ws-theme-sidebar {
  overflow-x: auto;
}
.ws-theme-footer {
  text-align: right;
}
.ws-theme-footer a, .ws-theme-footer a:hover {
  text-decoration: none;
}
@media (min-width: 768px) {
  .ws-theme-container {
    width: 750px;
    margin-right: auto;
    margin-left: auto;
  }
  .ws-theme-content {
    width: 550px;
    min-height: 384px;
    float: right;
  }
  .ws-theme-sidebar {
    width: 200px;
    float: left;
  }
}
@media (min-width: 992px) {
  .ws-theme-container {
    width: 970px;
  }
  .ws-theme-content {
    width: 770px;
    min-height: 496px;
  }
}
@media (min-width: 1200px) {
  .ws-theme-container {
    width: 1170px;
  }
  .ws-theme-content {
    width: 970px;
    min-height: 600px;
  }
}
/* End standard theme styles */
</style>
<style type="text/css">
/* Theme-specific styles */
body {
  background-color: #AAA;
}

.ws-theme-container {
  margin: 0 5px;
}

.ws-theme-header .WikiSearch .WikiSearchInput,
.ws-theme-sidebar .WikiSearch .WikiSearchInput,
.ws-theme-footer .WikiSearch .WikiSearchInput {
  width: 100%;
}

.ws-theme-header,
.ws-theme-footer {
  color: #FFFFFF;
}
.ws-theme-header a,
.ws-theme-footer a {
  color: inherit;
  text-decoration: none;
}

.ws-theme-sidebar {
  color: #000;
}
.ws-theme-sidebar a {
  color: #27496A;
  text-decoration: none;
}

.ws-theme-header a:hover,
.ws-theme-sidebar a:hover,
.ws-theme-footer a:hover {
  text-decoration: underline;
}
.ws-theme-header img,
.ws-theme-sidebar img,
.ws-theme-footer img {
  border: none;
}

.ws-theme-header,
.ws-theme-sidebar {
  display: none;
}

.ws-theme-content {
  overflow-x: visible;
}
.ws-theme-content-inner {
  background-color: #FFF;
  padding: 20px;
}

.ws-theme-footer {
  text-align: center;
}
.ws-theme-footer-inner {
  background: #548EC4 url('http://c1.wikicdn.com/_/3k3q06qz/i/theme_glass.png');
  padding: 15px;
}
.ws-theme-footer .WikiLicense img {
  vertical-align: text-bottom;
}

@media (min-width: 768px) {
  body {
    background-color: #d4e0eb;
  }

  .ws-theme-container {
    position: relative;
    margin: 0 auto;
    border: none;
  }
  .ws-theme-container:before {
    box-shadow: -15px 0 15px -15px rgba(0,0,0,.625) inset;
    content: " ";
    height: 100%;
    position: absolute;
    top: 0;
    left: -15px;
    width: 15px;
  }
  .ws-theme-container:after {
    box-shadow: 15px 0 15px -15px rgba(0,0,0,.625) inset;
    content: " ";
    height: 100%;
    position: absolute;
    top: 0;
    right: -15px;
    width: 15px;
  }

  .ws-theme-header,
  .ws-theme-sidebar {
    display: block;
  }

  .ws-theme-header-inner {
    background: #548EC4 url('http://c1.wikicdn.com/_/3k3q06qz/i/theme_glass.png');
    min-height: 150px;
    padding: 30px 25px;
  }

  .ws-theme-body-inner {
    background-color: #9EBDDC;
  }
  .ws-theme-body-inner:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 200px;
    background-color: #FFF;
  }

  .ws-theme-sidebar-inner {
    padding: 10px;
  }
  .ws-theme-sidebar .WikiActions {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .ws-theme-sidebar .WikiActions > li {
    padding: 2px;
  }
  .ws-theme-sidebar .WikiCustomNav ol {
    padding-left: 16px;
  }
  .ws-theme-sidebar .WikiCustomNav ol.includePageList {
    padding-left: 0;
  }
  .ws-theme-sidebar .WikispacesNavbar {
    margin: 0 -10px;
    padding: 0 10px;
  }
  .ws-theme-sidebar .ws-theme-nav-edit {
    color: #666;
    text-align: center;
  }
  .ws-theme-sidebar .ws-theme-nav-edit a {
    color: inherit;
  }
}
/* End theme-specific styles */
</style>
<link rel="stylesheet" href="http://www.wikispaces.com/stylesheet/viewi/217420326D.gz.css" type="text/css" />
<link rel="stylesheet" href="http://c1.wikicdn.com/s/gz/9jvvjv40-internal-bootstrap.css" type="text/css" />
<link rel="stylesheet" href="http://c1.wikicdn.com/s/gz/vz033906-internal.css" type="text/css" />
<script src="http://c1.wikicdn.com/s/gz/52vxz59q-top.min.js" type="text/javascript"></script>

<script type="text/javascript">
  var _gaq = _gaq || [];

  var wsGoogleAccount = 'UA-80504-1';
  _gaq.push(['_setAccount', wsGoogleAccount]);
  _gaq.push(['_gat._anonymizeIp']);
  _gaq.push(['_setDomainName', 'wikispaces.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_setCustomVar', 2, 'Authenticated', 'Guest', 2]);
  _gaq.push(['_trackPageview']);
</script></head>
<body><a href="changes-latest_date_team=0&latest_id_team=0&latest_date_project=0&latest_id_project=0&latest_date_file=1264698128&latest_id_file=116360189&latest_date_page=1264708055&latest_id_page=116412593&latest_date_user_add=1264708055&latest_id-ffe5a3839cd3fc8d.html#WikiContent" class="hidden sr-only sr-only-focusable">Skip to main content</a><div id="js-fixed-header-holder" class="fixed"><div class="WikispacesContent WikispacesBs3" role="banner">
      
    <div class="ws-main-top-nav visible-xs">
    <div class="navbar navbar-static-top" style="margin-bottom: 0;">
      <div class="container">
                <div class="navbar-header">
          <div class="visible-xs pull-left">
            <a href="/space/menu" class="WikispacesDialogLink btn navbar-btn">
              <i class="fa fa-bars"></i>
            </a>
          </div>
          <div class="visible-xs pull-right js-globalnav-popover-container">
                        <a href="http://www.wikispaces.com/site/signin?goto=http://primary-secundary-clil-units.wikispaces.com/wiki/changes?latest_date_team=0&latest_id_team=0&latest_date_project=0&latest_id_project=0&latest_date_file=1264698128&latest_id_file=116360189&latest_date_page=1264708055&latest_id_page=116412593&latest_date_user_add=1264708055&latest_id_user_add=0&latest_date_user_del=1264708055&latest_id_user_del=0&latest_date_tag_add=1264708055&latest_id_tag_add=0&latest_date_tag_del=1264708055&latest_id_tag_del=0&latest_date_wiki=1263583794&latest_id_wiki=3127667&latest_date_msg=1303209303&latest_id_msg=37872366&o=33" class="btn navbar-btn ws-mobile-guest-username js-globalnav-popover-trigger">
              guest
            </a>
                        <div class="hidden js-globalnav-popover-content">
              <div class="WikispacesContent WikispacesBs3">
                <div class="WikiInternalHeaderNav noHide">
  <div class="WikiInternalHeaderNavMenu">
                          
                  <span class="WikiInternalHeaderNavMenuArea"><a href="http://www.wikispaces.com/user/join?goto=http://primary-secundary-clil-units.wikispaces.com/space/join" rel="nofollow" class="WikispacesXDomainDialogLink">Únete</a></span>

          <span class="divider">|</span>
        
        <span class="WikiInternalHeaderNavMenuArea"><a class="js-help-trigger" rel="nofollow" href="http://helpcenter.wikispaces.com/">Ayuda</a></span>

        <span class="divider">|</span>
      
      <span class="WikiInternalHeaderNavMenuArea"><a href="http://www.wikispaces.com/site/signin?goto=http://primary-secundary-clil-units.wikispaces.com/wiki/changes?latest_date_team=0&latest_id_team=0&latest_date_project=0&latest_id_project=0&latest_date_file=1264698128&latest_id_file=116360189&latest_date_page=1264708055&latest_id_page=116412593&latest_date_user_add=1264708055&latest_id_user_add=0&latest_date_user_del=1264708055&latest_id_user_del=0&latest_date_tag_add=1264708055&latest_id_tag_add=0&latest_date_tag_del=1264708055&latest_id_tag_del=0&latest_date_wiki=1263583794&latest_id_wiki=3127667&latest_date_msg=1303209303&latest_id_msg=37872366&o=33" rel="nofollow" class="WikispacesXDomainDialogLink">Iniciar Sesión</a></span>
      </div>
</div>              </div>
            </div>
          </div>
          <div class="ws-navbar-middle-xs">
            <div class="navbar-brand" role="navigation">
              <a href="http://www.wikispaces.com/" class="ws-logo"></a>
              <i class="fa fa-angle-right"></i>
              <a href="../index.html">PRIMARY &amp; SECUNDARY CLIL UNITS</a>
                              <i class="fa fa-angle-right"></i> <a href="../home-responseToken=0847c1e1e5ce0b92316df15f77ae3e1b3.html">Página de inicio</a>
              
            </div>
          </div>
                    <form action="/search/view" method="post" class="navbar-form ws-include-xs pull-left ws-navbar-search hidden-xs" role="search"><input type="hidden" name="wikispacesFormToken" value="6fe9e4abfd313a9bcd2ed3dd566a75d106ca585a"/><input type="text" class="form-control search-query" name="q" value="" placeholder="Búsqueda" /> </form>
                  </div>
      </div>
    </div>
  </div>
      <div class="hidden-xs"><div class="WikiInternalHeaderNav WikiElement floating">
  <div class="WikiInternalHeaderNavMenu">
                                    <span class="WikiInternalHeaderNavMenuArea guestUserName">guest</span><span class="slideMarker divider">|</span>
        
                  <span class="WikiInternalHeaderNavMenuArea"><a href="http://www.wikispaces.com/user/join?goto=http://primary-secundary-clil-units.wikispaces.com/space/join" rel="nofollow" class="WikispacesXDomainDialogLink">Únete</a></span>

          <span class="divider">|</span>
        
        <span class="WikiInternalHeaderNavMenuArea"><a class="js-help-trigger" rel="nofollow" href="http://helpcenter.wikispaces.com/">Ayuda</a></span>

        <span class="divider">|</span>
      
      <span class="WikiInternalHeaderNavMenuArea"><a href="http://www.wikispaces.com/site/signin?goto=http://primary-secundary-clil-units.wikispaces.com/wiki/changes?latest_date_team=0&latest_id_team=0&latest_date_project=0&latest_id_project=0&latest_date_file=1264698128&latest_id_file=116360189&latest_date_page=1264708055&latest_id_page=116412593&latest_date_user_add=1264708055&latest_id_user_add=0&latest_date_user_del=1264708055&latest_id_user_del=0&latest_date_tag_add=1264708055&latest_id_tag_add=0&latest_date_tag_del=1264708055&latest_id_tag_del=0&latest_date_wiki=1263583794&latest_id_wiki=3127667&latest_date_msg=1303209303&latest_id_msg=37872366&o=33" rel="nofollow" class="WikispacesXDomainDialogLink">Iniciar Sesión</a></span>
      </div>
</div></div>
  </div></div><div id="js-fixed-header-offset">
<header class="ws-theme-header" role="banner">
  <div class="ws-theme-container">
    <div class="ws-theme-header-inner">
      <a href="../index.html" class="WikiLogo WikiElement"><img src="../space/showlogo/1371397631/logo.png" alt="PRIMARY &amp; SECUNDARY CLIL UNITS" /></a>    </div>
  </div>
</header>

<div class="ws-theme-body">
  <div class="ws-theme-container">
    <div class="ws-theme-body-inner">
      <nav class="ws-theme-sidebar" role="navigation">
        <div class="ws-theme-sidebar-inner">
          <div class="ws-theme-menu">
            <div class="ws-theme-menu-inner">
              <ul class="WikiActions WikiElement WikiControls">
    <li id="WikiActionHome"><div><span class="WikiActionSupplemental" style="float: right;"></span><a href="../index.html"><i class="fa fa-home fa-fw"></i></a><a href="../index.html">Inicio del wiki</a></div></li>
    <li id="WikiActionChanges"><div><span class="WikiActionSupplemental" style="float: right;"></span><a href="changes.html"><i class="fa fa-clock-o fa-fw"></i></a><a href="changes.html">Cambios Recientes</a></div></li>
    <li id="WikiActionPagesAndFiles"><div><span class="WikiActionSupplemental" style="float: right;"></span><a href="/space/content"><i class="fa fa-file-text-o fa-fw"></i></a><a href="/space/content">Pages and Files</a></div></li>
    <li id="WikiActionMembers"><div class="js-member-link"><span class="WikiActionSupplemental" style="float: right;"></span><a href="/wiki/members"><i class="fa fa-user fa-fw"></i></a><a href="/wiki/members">Miembros</a></div></li>
</ul>
              <form action="/search/view" method="post" class="WikiSearch WikiElement" role="search"><input type="text" class="form-control WikiSearchInput" name="q" value="" placeholder="Búsqueda" /> </form>              <div class="WikiCustomNav WikiElement wiki"><!-- ws:start:WikiTextIncludeRule:00:&lt;img src=&quot;http://www.wikispaces.com/site/embedthumbnail/include/pageList?w=200&amp;h=100&quot; class=&quot;WikiMedia WikiMediaInclude&quot; id=&quot;wikitext@@include@@component=&amp;quot;pageList&amp;quot; hideInternal=&amp;quot;true&amp;quot; tag=&amp;quot;menu&amp;quot; homeAtTop=&amp;quot;on&amp;quot; limit=&amp;quot;100&amp;quot;&quot; title=&quot;Include pageList: component=&amp;quot;pageList&amp;quot; hideInternal=&amp;quot;true&amp;quot; tag=&amp;quot;menu&amp;quot; homeAtTop=&amp;quot;on&amp;quot; limit=&amp;quot;100&amp;quot;&quot; /&gt; --><div class="includeBody"><ol class="includePageList">
      <li class="includePageListPage includePageListHomePage"><a href="../index.html" class="includePageListPageUrl">Home</a></li>
  </ol></div><!-- ws:end:WikiTextIncludeRule:00 --></div>              <div class="ws-theme-nav-edit">
                              </div>
            </div>
          </div>
        </div>
      </nav>
      <main class="ws-theme-content" role="main">
        <div class="ws-theme-content-inner">
          <div class="contentBox"><div class="innerContentBox" id="WikiContent">
<div class="ws-menu-bar WikiControls WikispacesContent WikispacesBs3">
  
    <h1 class="pageTitle">Cambios Recientes</h1>
      <div class="btn-group pull-right">
          <a class="btn btn-default" href="http://primary-secundary-clil-units.wikispaces.com/wiki/notify"><i class="fa fa-eye fa-fw"></i> Notification</a>          </div>
  </div>
<div class="WikispacesContent WikispacesBs3">

<form action="/wiki/changes" method="get"><input type="hidden" name="wikispacesFormToken" value="e16822e1bac0f9e6e441931b2cf4dbd6b6892c48"/>

  <div class="form-group">
    <label class="checkbox-inline" for="showPage">
      <input type="checkbox" id="showPage" name="showPage" value="1" checked="checked" />
      Páginas    </label>

    <label class="checkbox-inline" for="showMsg">
      <input type="checkbox" id="showMsg" name="showMsg" value="1" checked="checked" />
      Mensajes    </label>

    <label class="checkbox-inline" for="showComment">
      <input type="checkbox" id="showComment" name="showComment" value="1" checked="checked" />
      Comentarios    </label>

    <label class="checkbox-inline" for="showFile">
      <input type="checkbox" id="showFile" name="showFile" value="1" checked="checked" />
      Archivos    </label>

        <label class="checkbox-inline" for="showTag">
      <input type="checkbox" id="showTag" name="showTag" value="1" checked="checked" />
      Etiquetas    </label>
    
        <label class="checkbox-inline" for="showUser">
      <input type="checkbox" id="showUser" name="showUser" value="1" checked="checked" />
      Miembros    </label>
    
    
          <input type="hidden" id="showWiki" name="showWiki" value="1" />
    
      </div>
  <div class="row">
          <div class="col-md-4 form-group">
              </div>
    
    <div class="col-md-3 form-group">
      <label for="quser" class="sr-only">Nombre de usuario</label>
      <input id="quser" type="text" name="quser" class="form-control" value="" placeholder="Nombre de usuario" />
    </div>

    <div class="col-md-3 form-group">
      <label for="userdateto" class="sr-only">Fecha</label>
      <input class="form-control" id="userdateto" autocomplete="off" type="text" name="userdateto" placeholder="Fecha"/>
      <input type="hidden" name="dateto" id="dateto" value="" />
    </div>

    <div class="col-md-2 form-group">
      <button type="submit" class="btn btn-default" name="go" value="1">Filtro</button>
    </div>
  </div>
</form>

<div id="WikiTableRecentChanges" class="cobWrapper"><a class="hidden cobUrl jssmLink" href="changes-latest_date_team=0&latest_id_team=0&latest_date_project=0&latest_id_project=0&latest_date_file=1264698128&latest_id_file=116360189&latest_date_page=1264708055&latest_id_page=116412593&latest_date_user_add=1264708055&latest_id-1ab800e595b28f36.html">&nbsp;</a>

                        <div class="ws-day-panel panel panel-default" data-date="20110419">
      <div class="panel-heading" data-toggle="collapse" data-target=".ws-day-panel[data-date=20110419] .ws-day-panel-body">
        <h3 class="panel-title">
          <span class="ws-collapse-icon-caret fa-fw"></span>
                                Tuesday, April 19
                  </h3>
      </div>
      <ol class="ws-day-panel-body list-group collapse in">
  
  <li class="list-group-item">
    <div class="row">
                <span id="js-scroll-to" class="js-remove-on-callback"></span>
    
    <div class="col-md-9">
      <img src="http://c1.wikicdn.com/i/icon/changes-msg.png" alt="msg" width="16" height="16" />

                                Wikis
                message posted

        
        <span class="changeSnippet text-muted">
                      Wikis <em>(deleted)</em>
                  </span>
          </div> <!-- /col-md-9 -->

    <div class="col-md-3">
      <div class="row">
        <div class="col-md-offset-0 col-md-12 col-xs-offset-6 col-xs-6">
          <div class="pull-right text-right">
            <abbr class="WikispacesTooltip" title="Tuesday, Apr 19, 2011 3:35 am">3:35 am</abbr>
          </div>
          <div class="pull-left"><a class="userLink" href="http://www.wikispaces.com/user/view/pd2010_anloal" style="outline: none;"><img src="http://www.wikispaces.com/user/pic/pd2010_anloal-lg.jpg" width="16" height="16" alt="pd2010_anloal" class="userPicture" /></a> <a class="userLink" href="http://www.wikispaces.com/user/view/pd2010_anloal" style="outline: none;">pd2010_anloal</a></div>
        </div>
      </div>
    </div>
    </div>
  </li>
            
  <li class="list-group-item">
    <div class="row">
    
    <div class="col-md-9">
      <img src="http://c1.wikicdn.com/i/icon/changes-msg.png" alt="msg" width="16" height="16" />

                                Wikis
                message posted

        
        <span class="changeSnippet text-muted">
                      Wikis <em>(deleted)</em>
                  </span>
          </div> <!-- /col-md-9 -->

    <div class="col-md-3">
      <div class="row">
        <div class="col-md-offset-0 col-md-12 col-xs-offset-6 col-xs-6">
          <div class="pull-right text-right">
            <abbr class="WikispacesTooltip" title="Tuesday, Apr 19, 2011 12:26 am">12:26 am</abbr>
          </div>
          <div class="pull-left"><a class="userLink" href="http://www.wikispaces.com/user/view/pd2010_anloal" style="outline: none;"><img src="http://www.wikispaces.com/user/pic/pd2010_anloal-lg.jpg" width="16" height="16" alt="pd2010_anloal" class="userPicture" /></a> <a class="userLink" href="http://www.wikispaces.com/user/view/pd2010_anloal" style="outline: none;">pd2010_anloal</a></div>
        </div>
      </div>
    </div>
    </div>
  </li>
                          </ol><!-- /.ws-day-panel-body --></div>
        <div class="ws-day-panel panel panel-default" data-date="20100128">
      <div class="panel-heading" data-toggle="collapse" data-target=".ws-day-panel[data-date=20100128] .ws-day-panel-body">
        <h3 class="panel-title">
          <span class="ws-collapse-icon-caret fa-fw"></span>
                                Thursday, January 28
                  </h3>
      </div>
      <ol class="ws-day-panel-body list-group collapse in">
  
  <li class="list-group-item">
    <div class="row">
    
    <div class="col-md-9">
      <img src="http://c1.wikicdn.com/i/icon/changes-page.png" alt="page" width="16" height="16" />

              
                  <strong><a href="../home-responseToken=0847c1e1e5ce0b92316df15f77ae3e1b3.html">home</a></strong>
                edited

        
        <span class="changeSnippet text-muted">
                                  <span class="messageSummary"> ... Silvia Valenciaga Sánchez 
09  
 science 
1st  SCIENCE 
3rd  Primary  
Growing plants 
MªÁngel…</span>
                          <div class="messageBody collapse">
                <div class="wiki"><div class="blockHeader">...</div>Silvia Valenciaga Sánchez<br/>
09 <br/>
<del class="ws-diff-delete">science<br/>
1st</del><ins class="ws-diff-insert">SCIENCE<br/>
3rd</ins> Primary<del class="ws-diff-delete"><br/>
Growing plants<br/>
MªÁngeles Gonzalez Sanz</del><ins class="ws-diff-insert"><br/>
The Locomotor System​<br/>
Stephanie Kelly</ins><br/>
10 <br/>
<del class="ws-diff-delete">MUSIC<br/>
1ST SECUNDARY<br/>
VOLCANOES<br/>
mIGUEL áNGEL rOBLEDO</del><br/>
11 <br/>
12 <br/>
</div>
                            <a class="changeLink" href="http://primary-secundary-clil-units.wikispaces.com/page/diff/home/116412593">(view changes)</a>
                          </div>
                              </span>
          </div> <!-- /col-md-9 -->

    <div class="col-md-3">
      <div class="row">
        <div class="col-md-offset-0 col-md-12 col-xs-offset-6 col-xs-6">
          <div class="pull-right text-right">
            <abbr class="WikispacesTooltip" title="Thursday, Jan 28, 2010 11:47 am">11:47 am</abbr>
          </div>
          <div class="pull-left"><a class="userLink" href="http://www.wikispaces.com/user/view/stephanieanne1" style="outline: none;"><img src="http://www.wikispaces.com/user/pic/stephanieanne1-lg.jpg" width="16" height="16" alt="stephanieanne1" class="userPicture" /></a> <a class="userLink" href="http://www.wikispaces.com/user/view/stephanieanne1" style="outline: none;">stephanieanne1</a></div>
        </div>
      </div>
    </div>
    </div>
  </li>
            
  <li class="list-group-item">
    <div class="row">
    
    <div class="col-md-9">
      <img src="http://c1.wikicdn.com/i/icon/changes-page.png" alt="page" width="16" height="16" />

              
                  <strong><a href="../home-responseToken=0847c1e1e5ce0b92316df15f77ae3e1b3.html">home</a></strong>
                edited

        
        <span class="changeSnippet text-muted">
                                  <span class="messageSummary"> ... MªÁngeles Gonzalez Sanz 
10  
 MUSIC 
1ST SECUNDARY 
VOLCANOES 
mIGUEL áNGEL rOBLEDO  
11  
12…</span>
                          <div class="messageBody collapse">
                <div class="wiki"><div class="blockHeader">...</div>MªÁngeles Gonzalez Sanz<br/>
10 <br/>
<ins class="ws-diff-insert">MUSIC<br/>
1ST SECUNDARY<br/>
VOLCANOES<br/>
mIGUEL áNGEL rOBLEDO</ins><br/>
11 <br/>
12 <br/>
</div>
                            <a class="changeLink" href="http://primary-secundary-clil-units.wikispaces.com/page/diff/home/116412497">(view changes)</a>
                          </div>
                              </span>
          </div> <!-- /col-md-9 -->

    <div class="col-md-3">
      <div class="row">
        <div class="col-md-offset-0 col-md-12 col-xs-offset-6 col-xs-6">
          <div class="pull-right text-right">
            <abbr class="WikispacesTooltip" title="Thursday, Jan 28, 2010 11:47 am">11:47 am</abbr>
          </div>
          <div class="pull-left"><a class="userLink" href="http://www.wikispaces.com/user/view/sproker" style="outline: none;"><img src="http://www.wikispaces.com/user/pic/sproker-lg.jpg" width="16" height="16" alt="sproker" class="userPicture" /></a> <a class="userLink" href="http://www.wikispaces.com/user/view/sproker" style="outline: none;">sproker</a></div>
        </div>
      </div>
    </div>
    </div>
  </li>
            
  <li class="list-group-item">
    <div class="row">
    
    <div class="col-md-9">
      <img src="http://c1.wikicdn.com/i/icon/changes-page.png" alt="page" width="16" height="16" />

              
                  <strong><a href="../home-responseToken=0847c1e1e5ce0b92316df15f77ae3e1b3.html">home</a></strong>
                edited

        
        <span class="changeSnippet text-muted">
                                  <span class="messageSummary"> ... 11  
12  
 LITERACY 
2nd Secondary 
Mass Media 
Sonia De Domingo  
13  
14  
</span>
                          <div class="messageBody collapse">
                <div class="wiki"><div class="blockHeader">...</div>11 <br/>
12 <br/>
<ins class="ws-diff-insert">LITERACY<br/>
2nd Secondary<br/>
Mass Media<br/>
Sonia De Domingo</ins><br/>
13 <br/>
14 <br/>
</div>
                            <a class="changeLink" href="http://primary-secundary-clil-units.wikispaces.com/page/diff/home/116412005">(view changes)</a>
                          </div>
                              </span>
          </div> <!-- /col-md-9 -->

    <div class="col-md-3">
      <div class="row">
        <div class="col-md-offset-0 col-md-12 col-xs-offset-6 col-xs-6">
          <div class="pull-right text-right">
            <abbr class="WikispacesTooltip" title="Thursday, Jan 28, 2010 11:45 am">11:45 am</abbr>
          </div>
          <div class="pull-left"><a class="userLink" href="http://www.wikispaces.com/user/view/SONIA80" style="outline: none;"><img src="http://www.wikispaces.com/user/pic/SONIA80-lg.jpg" width="16" height="16" alt="SONIA80" class="userPicture" /></a> <a class="userLink" href="http://www.wikispaces.com/user/view/SONIA80" style="outline: none;">SONIA80</a></div>
        </div>
      </div>
    </div>
    </div>
  </li>
            
  <li class="list-group-item">
    <div class="row">
    
    <div class="col-md-9">
      <img src="http://c1.wikicdn.com/i/icon/changes-page.png" alt="page" width="16" height="16" />

              
                  <strong><a href="../home-responseToken=0847c1e1e5ce0b92316df15f77ae3e1b3.html">home</a></strong>
                edited

        
        <span class="changeSnippet text-muted">
                                  <span class="messageSummary"> ... Silvia Valenciaga Sánchez 
09  
 ARTS 
2nd  science 
1st  Primary  
Construction Unit 
Mª Hena…</span>
                          <div class="messageBody collapse">
                <div class="wiki"><div class="blockHeader">...</div>Silvia Valenciaga Sánchez<br/>
09 <br/>
<del class="ws-diff-delete">ARTS<br/>
2nd</del><ins class="ws-diff-insert">science<br/>
1st</ins> Primary<del class="ws-diff-delete"><br/>
Construction Unit<br/>
Mª Henar Catalina Baeza</del><ins class="ws-diff-insert"><br/>
Growing plants<br/>
MªÁngeles Gonzalez Sanz</ins><br/>
10 <br/>
11 <br/>
</div>
                            <a class="changeLink" href="http://primary-secundary-clil-units.wikispaces.com/page/diff/home/116411443">(view changes)</a>
                          </div>
                              </span>
          </div> <!-- /col-md-9 -->

    <div class="col-md-3">
      <div class="row">
        <div class="col-md-offset-0 col-md-12 col-xs-offset-6 col-xs-6">
          <div class="pull-right text-right">
            <abbr class="WikispacesTooltip" title="Thursday, Jan 28, 2010 11:43 am">11:43 am</abbr>
          </div>
          <div class="pull-left"><a class="userLink" href="http://www.wikispaces.com/user/view/marian108" style="outline: none;"><img src="http://www.wikispaces.com/user/pic/marian108-lg.jpg" width="16" height="16" alt="marian108" class="userPicture" /></a> <a class="userLink" href="http://www.wikispaces.com/user/view/marian108" style="outline: none;">marian108</a></div>
        </div>
      </div>
    </div>
    </div>
  </li>
            
  <li class="list-group-item">
    <div class="row">
    
    <div class="col-md-9">
      <img src="http://c1.wikicdn.com/i/icon/changes-page.png" alt="page" width="16" height="16" />

              
                  <strong><a href="../home-responseToken=0847c1e1e5ce0b92316df15f77ae3e1b3.html">home</a></strong>
                edited

        
        <span class="changeSnippet text-muted">
                                  <span class="messageSummary"> ... Silvia Valenciaga Sánchez 
09  
 science 
3th primary 
hello, mr bean! 
Miguel Ángel  ARTS 
2n…</span>
                          <div class="messageBody collapse">
                <div class="wiki"><div class="blockHeader">...</div>Silvia Valenciaga Sánchez<br/>
09 <br/>
<del class="ws-diff-delete">science<br/>
3th primary<br/>
hello, mr bean!<br/>
Miguel Ángel</del><ins class="ws-diff-insert">ARTS<br/>
2nd Primary<br/>
Construction Unit<br/>
Mª Henar Catalina Baeza</ins><br/>
10 <br/>
11 <br/>
</div>
                            <a class="changeLink" href="http://primary-secundary-clil-units.wikispaces.com/page/diff/home/116411439">(view changes)</a>
                          </div>
                              </span>
          </div> <!-- /col-md-9 -->

    <div class="col-md-3">
      <div class="row">
        <div class="col-md-offset-0 col-md-12 col-xs-offset-6 col-xs-6">
          <div class="pull-right text-right">
            <abbr class="WikispacesTooltip" title="Thursday, Jan 28, 2010 11:43 am">11:43 am</abbr>
          </div>
          <div class="pull-left"><a class="userLink" href="http://www.wikispaces.com/user/view/henarcatalina" style="outline: none;"><img src="http://www.wikispaces.com/user/pic/henarcatalina-lg.jpg" width="16" height="16" alt="henarcatalina" class="userPicture" /></a> <a class="userLink" href="http://www.wikispaces.com/user/view/henarcatalina" style="outline: none;">henarcatalina</a></div>
        </div>
      </div>
    </div>
    </div>
  </li>
            
  <li class="list-group-item">
    <div class="row">
    
    <div class="col-md-9">
      <img src="http://c1.wikicdn.com/i/icon/changes-user_add.png" alt="user_add" width="16" height="16" />

                      <strong><a class="userLink" href="http://www.wikispaces.com/user/view/Dani76" style="outline: none;"><img src="http://www.wikispaces.com/user/pic/Dani76-lg.jpg" width="16" height="16" alt="Dani76" class="userPicture" /></a> <a class="userLink" href="http://www.wikispaces.com/user/view/Dani76" style="outline: none;">Dani76</a></strong> joined
                  <a href="../index.html">PRIMARY &amp; SECUNDARY CLIL UNITS</a>
        
          </div> <!-- /col-md-9 -->

    <div class="col-md-3">
      <div class="row">
        <div class="col-md-offset-0 col-md-12 col-xs-offset-6 col-xs-6">
          <div class="pull-right text-right">
            <abbr class="WikispacesTooltip" title="Thursday, Jan 28, 2010 11:43 am">11:43 am</abbr>
          </div>
          <div class="pull-left"><a class="userLink" href="http://www.wikispaces.com/user/view/sproker" style="outline: none;"><img src="http://www.wikispaces.com/user/pic/1263598396/sproker-lg.jpg" width="16" height="16" alt="sproker" class="userPicture" /></a> <a class="userLink" href="http://www.wikispaces.com/user/view/sproker" style="outline: none;">sproker</a></div>
        </div>
      </div>
    </div>
    </div>
  </li>
            
  <li class="list-group-item">
    <div class="row">
    
    <div class="col-md-9">
      <img src="http://c1.wikicdn.com/i/icon/changes-page.png" alt="page" width="16" height="16" />

              
                  <strong><a href="../home-responseToken=0847c1e1e5ce0b92316df15f77ae3e1b3.html">home</a></strong>
                edited

        
        <span class="changeSnippet text-muted">
                                  <span class="messageSummary"> ... Silvia Valenciaga Sánchez 
09  
 science 
3th primary 
hello, mr bean! 
Miguel Ángel  
10  
11…</span>
                          <div class="messageBody collapse">
                <div class="wiki"><div class="blockHeader">...</div>Silvia Valenciaga Sánchez<br/>
09 <br/>
<ins class="ws-diff-insert">science<br/>
3th primary<br/>
hello, mr bean!<br/>
Miguel Ángel</ins><br/>
10 <br/>
11 <br/>
</div>
                            <a class="changeLink" href="http://primary-secundary-clil-units.wikispaces.com/page/diff/home/116411333">(view changes)</a>
                          </div>
                              </span>
          </div> <!-- /col-md-9 -->

    <div class="col-md-3">
      <div class="row">
        <div class="col-md-offset-0 col-md-12 col-xs-offset-6 col-xs-6">
          <div class="pull-right text-right">
            <abbr class="WikispacesTooltip" title="Thursday, Jan 28, 2010 11:43 am">11:43 am</abbr>
          </div>
          <div class="pull-left"><a class="userLink" href="http://www.wikispaces.com/user/view/sproker" style="outline: none;"><img src="http://www.wikispaces.com/user/pic/sproker-lg.jpg" width="16" height="16" alt="sproker" class="userPicture" /></a> <a class="userLink" href="http://www.wikispaces.com/user/view/sproker" style="outline: none;">sproker</a></div>
        </div>
      </div>
    </div>
    </div>
  </li>
            
  <li class="list-group-item">
    <div class="row">
    
    <div class="col-md-9">
      <img src="http://c1.wikicdn.com/i/icon/changes-user_add.png" alt="user_add" width="16" height="16" />

                      <strong><a class="userLink" href="http://www.wikispaces.com/user/view/Maritoni" style="outline: none;"><img src="http://www.wikispaces.com/user/pic/Maritoni-lg.jpg" width="16" height="16" alt="Maritoni" class="userPicture" /></a> <a class="userLink" href="http://www.wikispaces.com/user/view/Maritoni" style="outline: none;">Maritoni</a></strong> joined
                  <a href="../index.html">PRIMARY &amp; SECUNDARY CLIL UNITS</a>
        
          </div> <!-- /col-md-9 -->

    <div class="col-md-3">
      <div class="row">
        <div class="col-md-offset-0 col-md-12 col-xs-offset-6 col-xs-6">
          <div class="pull-right text-right">
            <abbr class="WikispacesTooltip" title="Thursday, Jan 28, 2010 11:37 am">11:37 am</abbr>
          </div>
          <div class="pull-left"><a class="userLink" href="http://www.wikispaces.com/user/view/sproker" style="outline: none;"><img src="http://www.wikispaces.com/user/pic/1263598396/sproker-lg.jpg" width="16" height="16" alt="sproker" class="userPicture" /></a> <a class="userLink" href="http://www.wikispaces.com/user/view/sproker" style="outline: none;">sproker</a></div>
        </div>
      </div>
    </div>
    </div>
  </li>
</ol><!-- /.ws-day-panel-body -->
</div>

<p class="text-center js-remove-on-callback">
  <a href="changes-latest_date_team=0&latest_id_team=0&latest_date_project=0&latest_id_project=0&latest_date_file=1264698128&latest_id_file=116360189&latest_date_page=1264705096&latest_id_page=116396033&latest_date_user_add=1264705096&latest_id-90491f1fbc8e4390.html" id="pagerNext" class="btn btn-default pagerLink">More</a>
</p>
</div>

</div></div></div><div id="sentinel" style="clear:both"></div>        </div>
      </main>
    </div>
  </div>
</div>

<footer class="ws-theme-footer" role="contentinfo">
  <div class="ws-theme-container">
    <div class="ws-theme-footer-inner">
      <div class="WikiFooterNav WikiElement">
<a href="http://helpcenter.wikispaces.com/" rel="nofollow" class="js-help-trigger">Ayuda</a> &middot;
<a href="http://www.wikispaces.com/about">Acerca de</a> &middot;
<a href="http://www.wikispaces.com/content/pricing" rel="nofollow">Precio</a> &middot;
<a href="http://www.wikispaces.com/privacy" rel="nofollow">Privacidad</a> &middot;
<a href="http://www.wikispaces.com/terms" rel="nofollow">Términos</a> &middot;
<a href="http://www.wikispaces.com/site/help?url=http://primary-secundary-clil-units.wikispaces.com/wiki/changes?latest_date_team=0&latest_id_team=0&latest_date_project=0&latest_id_project=0&latest_date_file=1264698128&latest_id_file=116360189&latest_date_page=1264708055&latest_id_page=116412593&latest_date_user_add=1264708055&latest_id_user_add=0&latest_date_user_del=1264708055&latest_id_user_del=0&latest_date_tag_add=1264708055&latest_id_tag_add=0&latest_date_tag_del=1264708055&latest_id_tag_del=0&latest_date_wiki=1263583794&latest_id_wiki=3127667&latest_date_msg=1303209303&latest_id_msg=37872366&o=33" rel="nofollow"><strong>Apoyo</strong></a> &middot;
<a href="/space/subscribe/upgrade"><strong>Elevar de categoría</strong></a>
</div>      <div class="WikiLicense WikiElement">Contributions to http://primary-secundary-clil-units.wikispaces.com/ are licensed under a <a rel="license" href="http://www.creativecommons.org/licenses/by-sa/3.0">Creative Commons Attribution Share-Alike 3.0 License</a>. <a rel="license" href="http://www.creativecommons.org/licenses/by-sa/3.0"><img src="http://c1.wikicdn.com/i/creativecommons/by-sa_3.0_80x15.png" width="85" height="15" alt="Creative Commons Attribution Share-Alike 3.0 License"/></a><br />Portions not contributed by visitors are Copyright 2018 Tangient LLC<br /><a href="https://www.tes.com/us/?utm_source=wikispaces&utm_medium=link&utm_campaign=US-52-footer">TES: The largest network of teachers in the world</a></div>    </div>
  </div>
</footer>


<script type="text/template" id="dialog-template">
<div class="modal fade" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
        <h4 class="modal-title"><%= header %></h4>
      </div>
      <div class="modal-body">
        <%= body %>
      </div>
    </div>
  </div>
</div>
</script>


<div id="js-help-template" class="hidden">
  <div class="ws-help">
    <div class="js-help-controls WikispacesContent WikispacesBs3">
      <a href="http://www.wikispaces.com/site/gettingstarted/off" class="btn btn-default hidden js-getting-started-off pull-right">Turn off "Getting Started"</a>
      <ol class="breadcrumb">
        <li class="js-special-breadcrumb active">
          <a href="http://helpcenter.wikispaces.com/" data-breadcrumb="0">Página de inicio</a>
        </li>
        <li class="js-ellipsis hidden js-special-breadcrumb">
          ...
        </li>
        <li class="js-spinner hidden js-special-breadcrumb"><i class="fa fa-spinner fa-spin"></i></li>
      </ol>
    </div>
    <div class="ws-help-content wiki">Cargando...</div>
  </div>
</div>
</div>
<script src="http://c1.wikicdn.com/s/gz/j4257158-common.min.js" type="text/javascript"></script>
<script type="text/javascript">
<!--

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

jQuery(document).ready(function() {
  ws.common.addJsonNotices({"warning":[],"error":[],"info":[],"success":[]});
});

jQuery(document).ready(function() {
  ws.common.addNotice("<script type=\"text\/javascript\">function wsDismissBanner() { ws.common.removeNotice();  ws.cookie.set(\"wsAnnouncement\", 1, {expires: 365 * 86400, domain: \".wikispaces.com\"}); return false;}$(\".ui-pnotify-closer\").remove();<\/script><i class=\"fa fa-times fa-fw ws-close\" onclick=\"wsDismissBanner();\"><\/i>It's time for us to say farewell\u2026 Regretfully, we've made the tough decision to close Wikispaces. Find out why, and what will happen, <a href='http:\/\/blog.wikispaces.com' target='_top'>here<a\/>", "warning");
});

jQuery(document).ready(function($) {
  function yymmddToJsDate(dateStr) {
    return new Date(dateStr.slice(0, 4), dateStr.slice(4, 6) - 1, dateStr.slice(6, 8));
  }

  if ($.datepicker.regional[ws.context.user.locale]) {
    $.datepicker.setDefaults($.datepicker.regional[ws.context.user.locale]);
  } else {
    $.datepicker.setDefaults($.datepicker.regional['']);
  }

  $('#userdateto').datepicker({maxDate: 0, altField: '#dateto', altFormat: 'yymmdd'});
  if ($('#dateto').val()) {
    $('#userdateto').datepicker('setDate', yymmddToJsDate($('#dateto').val()));
  }
  $('#userdateto').closest('form').submit(function() {
    if ($('#datefrom').val() > $('#dateto').val()) {
      alert('The starting date must not be later than the ending date.');
      return false;
    }
  });
});


jQuery(document).ready(function($) {
  
  var tipPlacement = 'bottom';
  

  $('.ws-menu-bar').each(function() {
    var $menuBar = $(this);
    var $tagDropdown = $menuBar.find('.ws-tag-dropdown-menu');
    $menuBar.find('.tipme').tooltip({placement: tipPlacement, container: '.ws-menu-bar'});

    
  });
});


jQuery(document).ready(function () {
  ws.cob.makeCallback("WikiTableRecentChanges", function() {})();
});

jQuery(document).ready(function () {
  ws.cob.associateCallback("WikiTableRecentChanges", "recentCallback");
});

jQuery(document).ready(function($) {
  ws.cob.enableState = false;
  $(document).tipsy({ live: '.WikispacesTooltip' });

  $('.cobWrapper').on('click', '.messageSummary', function(event) {
    console.log('summaryclick', $(this).nextAll('.messageBody'));
    $(this).hide().nextAll('.messageBody').collapse('toggle');
  }).on('click', '.messageBody .wiki', function(event) {
    console.log('bodyclick', $(this).closest('.messageBody'));
    var $summary = $(this).closest('.messageBody').collapse('toggle').prevAll('.messageSummary').show();

    if (!$summary.is(":inView")) {
      $.scrollTo($summary, { axis: "y"});
    }
  });

  ws.cob.registerCallback('recentCallback', function(table, html) {
    table = $(table);
    table.find('.js-remove-on-callback, .cobUrl').remove();

    var newHtml = $('<div>').html(html);

    var lastDiv = table.find('.ws-day-panel:last')
    var firstDiv = newHtml.find('.ws-day-panel:first');

    if (firstDiv.data('date') == lastDiv.data('date')) {
      lastDiv.find('.ws-day-panel-body')
        .append(firstDiv.find('.ws-day-panel-body').contents())
        .collapse({ toggle: false }).collapse('show');
      lastDiv.find('.panel-heading').removeClass('collapsed');

      firstDiv.remove();
    }

    table.append(newHtml.contents());

    if (!$('#js-scroll-to').is(":inView")) {
      $.scrollTo('#js-scroll-to', { axis: "y"});
    }
  });
});



--></script><!-- w22 949 cass:100:575(6) dql:151:183(13) mem:2:14(33) tot:949:949(1) wki:10:10(1) -->

</body>
</html>